#s-24fe7e3d-687f-45c3-8657-8eb3b64455ac #s-Label_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-24fe7e3d-687f-45c3-8657-8eb3b64455ac #s-Label_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-24fe7e3d-687f-45c3-8657-8eb3b64455ac #s-Line_3 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-24fe7e3d-687f-45c3-8657-8eb3b64455ac #s-Line_4 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-24fe7e3d-687f-45c3-8657-8eb3b64455ac #s-Flat-button-light {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-24fe7e3d-687f-45c3-8657-8eb3b64455ac #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-24fe7e3d-687f-45c3-8657-8eb3b64455ac #s-Label_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-24fe7e3d-687f-45c3-8657-8eb3b64455ac #s-Label_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.ui-page {
  overflow-x: hidden;
}
#s-24fe7e3d-687f-45c3-8657-8eb3b64455ac > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}