#s-30495261-78d5-4174-90f8-f3a86dca94be > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-30495261-78d5-4174-90f8-f3a86dca94be > #alignmentBox {
  position: relative;
  width: 100%;
  height: 100%;
}
#s-30495261-78d5-4174-90f8-f3a86dca94be #s-Label_1 {
  position: absolute;
  top: 46px;
  left: 41px;
  width: 140px;
  height: 30px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11.0pt;
  line-height: 11.0pt;
}
#s-30495261-78d5-4174-90f8-f3a86dca94be #s-Label_1 .valign {
  vertical-align: middle;
}
#s-30495261-78d5-4174-90f8-f3a86dca94be #s-Label_2 {
  position: absolute;
  top: 88px;
  left: 39px;
  width: 140px;
  height: 30px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11.0pt;
  line-height: 11.0pt;
}
#s-30495261-78d5-4174-90f8-f3a86dca94be #s-Label_2 .valign {
  vertical-align: middle;
}
#s-30495261-78d5-4174-90f8-f3a86dca94be #s-Label_3 {
  position: absolute;
  top: 117px;
  left: 53px;
  width: 256px;
  height: 30px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11.0pt;
  line-height: 11.0pt;
}
#s-30495261-78d5-4174-90f8-f3a86dca94be #s-Label_3 .valign {
  vertical-align: middle;
}
#s-30495261-78d5-4174-90f8-f3a86dca94be #s-Label_4 {
  position: absolute;
  top: 157px;
  left: 53px;
  width: 256px;
  height: 30px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11.0pt;
  line-height: 11.0pt;
}
#s-30495261-78d5-4174-90f8-f3a86dca94be #s-Label_4 .valign {
  vertical-align: middle;
}
#s-30495261-78d5-4174-90f8-f3a86dca94be #s-checkbox-on-light_7 {
  position: absolute;
  top: 119px;
  left: 28px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #8AD9D2;
  text-align: left;
  text-decoration: none;
  font-family: materialdesignjim-Regular,Arial;
  font-size: 20.0pt;
}
#s-30495261-78d5-4174-90f8-f3a86dca94be #s-checkbox-on-light_7 .valign {
  vertical-align: middle;
}
#s-30495261-78d5-4174-90f8-f3a86dca94be #s-checkbox-on-light_6 {
  position: absolute;
  top: 157px;
  left: 29px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #BCBCBC;
  text-align: left;
  text-decoration: none;
  font-family: materialdesignjim-Regular,Arial;
  font-size: 20.0pt;
}
#s-30495261-78d5-4174-90f8-f3a86dca94be #s-checkbox-on-light_6 .valign {
  vertical-align: middle;
}
#s-30495261-78d5-4174-90f8-f3a86dca94be #s-Flat-button-dark {
  position: absolute;
  top: 199px;
  left: 141px;
  width: 76px;
  height: 42px;
  background-color: #5DBA75;
  background-image: none;
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #8AD9D2;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #8AD9D2;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #8AD9D2;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #8AD9D2;
  border-radius: 3px 3px 3px 3px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: 0px 3px 4px 0px #000000;
  text-shadow: none;
  color: #303030;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 15.0pt;
  line-height: 15.0pt;
}
#s-30495261-78d5-4174-90f8-f3a86dca94be #s-Flat-button-dark .valign {
  vertical-align: middle;
}
#s-30495261-78d5-4174-90f8-f3a86dca94be #s-Label_5 {
  position: absolute;
  top: 253px;
  left: 27px;
  width: 140px;
  height: 30px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11.0pt;
  line-height: 11.0pt;
}
#s-30495261-78d5-4174-90f8-f3a86dca94be #s-Label_5 .valign {
  vertical-align: middle;
}
#s-30495261-78d5-4174-90f8-f3a86dca94be #s-Label_6 {
  position: absolute;
  top: 295px;
  left: 21px;
  width: 58px;
  height: 30px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11.0pt;
  line-height: 11.0pt;
}
#s-30495261-78d5-4174-90f8-f3a86dca94be #s-Label_6 .valign {
  vertical-align: middle;
}
#s-30495261-78d5-4174-90f8-f3a86dca94be #s-input {
  position: absolute;
  top: 294px;
  left: 78px;
  width: 179px;
  height: 32px;
}
#s-30495261-78d5-4174-90f8-f3a86dca94be #s-Input_2 {
  position: absolute;
  top: 0px;
  left: 0px;
  padding-left: 5px;
  width: 174px;
  height: 31px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  text-shadow: none;
}
#s-30495261-78d5-4174-90f8-f3a86dca94be #s-Input_2 .valign {
  vertical-align: middle;
  line-height: 11.0pt;
}
#s-30495261-78d5-4174-90f8-f3a86dca94be #s-Input_2 input {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 11.0pt;
  text-shadow: none;
}
#s-30495261-78d5-4174-90f8-f3a86dca94be #s-Line_3 {
  position: absolute;
  top: 30px;
  left: 0px;
  width: 179px;
  height: 1px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #757575;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-30495261-78d5-4174-90f8-f3a86dca94be #s-Line_4 {
  position: absolute;
  top: 30px;
  left: 0px;
  width: 179px;
  height: 2px;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #08AE9E;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-30495261-78d5-4174-90f8-f3a86dca94be #shapewrapper-s-Line_4 {
  display: none;
}
#s-30495261-78d5-4174-90f8-f3a86dca94be #s-input_1 {
  position: absolute;
  top: 337px;
  left: 27px;
  width: 304px;
  height: 32px;
}
#s-30495261-78d5-4174-90f8-f3a86dca94be #s-Input_3 {
  position: absolute;
  top: 0px;
  left: 0px;
  padding-left: 5px;
  width: 299px;
  height: 31px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  text-shadow: none;
}
#s-30495261-78d5-4174-90f8-f3a86dca94be #s-Input_3 .valign {
  vertical-align: middle;
  line-height: 11.0pt;
}
#s-30495261-78d5-4174-90f8-f3a86dca94be #s-Input_3 input {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 11.0pt;
  text-shadow: none;
}
#s-30495261-78d5-4174-90f8-f3a86dca94be #s-Line_5 {
  position: absolute;
  top: 30px;
  left: 0px;
  width: 304px;
  height: 1px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #757575;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-30495261-78d5-4174-90f8-f3a86dca94be #s-Line_6 {
  position: absolute;
  top: 30px;
  left: 0px;
  width: 304px;
  height: 2px;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #08AE9E;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-30495261-78d5-4174-90f8-f3a86dca94be #shapewrapper-s-Line_6 {
  display: none;
}
#s-30495261-78d5-4174-90f8-f3a86dca94be #s-Flat-button-dark_1 {
  position: absolute;
  top: 391px;
  left: 139px;
  width: 76px;
  height: 42px;
  background-color: #5DBA75;
  background-image: none;
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #8AD9D2;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #8AD9D2;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #8AD9D2;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #8AD9D2;
  border-radius: 3px 3px 3px 3px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: 0px 3px 4px 0px #000000;
  text-shadow: none;
  color: #303030;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 15.0pt;
  line-height: 15.0pt;
}
#s-30495261-78d5-4174-90f8-f3a86dca94be #s-Flat-button-dark_1 .valign {
  vertical-align: middle;
}
#s-30495261-78d5-4174-90f8-f3a86dca94be #s-Button_17 {
  position: absolute;
  top: 504px;
  left: 56px;
  width: 246px;
  height: 42px;
  background-color: #009344;
  background-image: none;
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #08AE9E;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #08AE9E;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #08AE9E;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #08AE9E;
  border-radius: 3px 3px 3px 3px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: 0px 3px 4px 0px #A0A0A0;
  text-shadow: none;
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 15.0pt;
  line-height: 15.0pt;
}
#s-30495261-78d5-4174-90f8-f3a86dca94be #s-Button_17 .valign {
  vertical-align: middle;
}
.ui-page {
  overflow-x: hidden;
}
#s-30495261-78d5-4174-90f8-f3a86dca94be > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}