#s-508f1c19-eb32-43aa-8255-0210fb30b404 #s-Label_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-508f1c19-eb32-43aa-8255-0210fb30b404 #s-Label_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-508f1c19-eb32-43aa-8255-0210fb30b404 #s-Line_3 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-508f1c19-eb32-43aa-8255-0210fb30b404 #s-Line_4 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-508f1c19-eb32-43aa-8255-0210fb30b404 #s-Flat-button-light {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-508f1c19-eb32-43aa-8255-0210fb30b404 #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-508f1c19-eb32-43aa-8255-0210fb30b404 #s-Label_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-508f1c19-eb32-43aa-8255-0210fb30b404 #s-Label_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-508f1c19-eb32-43aa-8255-0210fb30b404 #s-Flat-button-light_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.ui-page {
  overflow-x: hidden;
}
#s-508f1c19-eb32-43aa-8255-0210fb30b404 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}