#s-92a8cff2-72ad-4251-accb-665a81fa46f0 #s-Label_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-92a8cff2-72ad-4251-accb-665a81fa46f0 #s-Label_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-92a8cff2-72ad-4251-accb-665a81fa46f0 #s-Line_3 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-92a8cff2-72ad-4251-accb-665a81fa46f0 #s-Line_4 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-92a8cff2-72ad-4251-accb-665a81fa46f0 #s-Label_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-92a8cff2-72ad-4251-accb-665a81fa46f0 #s-Label_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-92a8cff2-72ad-4251-accb-665a81fa46f0 #s-Line_5 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-92a8cff2-72ad-4251-accb-665a81fa46f0 #s-Line_6 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-92a8cff2-72ad-4251-accb-665a81fa46f0 #s-Label_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-92a8cff2-72ad-4251-accb-665a81fa46f0 #s-Line_7 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-92a8cff2-72ad-4251-accb-665a81fa46f0 #s-Line_8 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-92a8cff2-72ad-4251-accb-665a81fa46f0 #s-Label_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-92a8cff2-72ad-4251-accb-665a81fa46f0 #s-Label_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-92a8cff2-72ad-4251-accb-665a81fa46f0 #s-Label_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-92a8cff2-72ad-4251-accb-665a81fa46f0 #s-Label_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-92a8cff2-72ad-4251-accb-665a81fa46f0 #s-Label_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-92a8cff2-72ad-4251-accb-665a81fa46f0 #s-Label_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-92a8cff2-72ad-4251-accb-665a81fa46f0 #s-Flat-button-light {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.ui-page {
  overflow-x: hidden;
}
#s-92a8cff2-72ad-4251-accb-665a81fa46f0 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}