#s-97dfa277-5dca-4d75-bf4a-4266bfcc8b74 #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-97dfa277-5dca-4d75-bf4a-4266bfcc8b74 #s-Label_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-97dfa277-5dca-4d75-bf4a-4266bfcc8b74 #s-Label_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-97dfa277-5dca-4d75-bf4a-4266bfcc8b74 #s-Label_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-97dfa277-5dca-4d75-bf4a-4266bfcc8b74 #s-Flat-button-light {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.ui-page {
  overflow-x: hidden;
}
#s-97dfa277-5dca-4d75-bf4a-4266bfcc8b74 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}