#s-e114f9aa-b075-48b2-8380-63f70ff0ed47 #s-Flat-button-light {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e114f9aa-b075-48b2-8380-63f70ff0ed47 #s-Flat-button-light_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e114f9aa-b075-48b2-8380-63f70ff0ed47 #s-Flat-button-light_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e114f9aa-b075-48b2-8380-63f70ff0ed47 #s-Flat-button-light_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.ui-page {
  overflow-x: hidden;
}
#s-e114f9aa-b075-48b2-8380-63f70ff0ed47 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}