#s-30495261-78d5-4174-90f8-f3a86dca94be #s-Label_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-30495261-78d5-4174-90f8-f3a86dca94be #s-Label_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-30495261-78d5-4174-90f8-f3a86dca94be #s-Label_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-30495261-78d5-4174-90f8-f3a86dca94be #s-Label_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-30495261-78d5-4174-90f8-f3a86dca94be #s-checkbox-on-light_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-30495261-78d5-4174-90f8-f3a86dca94be #s-checkbox-on-light_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-30495261-78d5-4174-90f8-f3a86dca94be #s-Flat-button-dark {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-30495261-78d5-4174-90f8-f3a86dca94be #s-Label_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-30495261-78d5-4174-90f8-f3a86dca94be #s-Label_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-30495261-78d5-4174-90f8-f3a86dca94be #s-Line_3 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-30495261-78d5-4174-90f8-f3a86dca94be #s-Line_4 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-30495261-78d5-4174-90f8-f3a86dca94be #s-Line_5 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-30495261-78d5-4174-90f8-f3a86dca94be #s-Line_6 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-30495261-78d5-4174-90f8-f3a86dca94be #s-Flat-button-dark_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-30495261-78d5-4174-90f8-f3a86dca94be #s-Button_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.ui-page {
  overflow-x: hidden;
}
#s-30495261-78d5-4174-90f8-f3a86dca94be > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}