#s-5aff211d-e948-4935-b801-a4917e8243cd #s-Label_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5aff211d-e948-4935-b801-a4917e8243cd #s-Label_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5aff211d-e948-4935-b801-a4917e8243cd #s-Label_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5aff211d-e948-4935-b801-a4917e8243cd #s-Line_3 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5aff211d-e948-4935-b801-a4917e8243cd #s-Line_4 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5aff211d-e948-4935-b801-a4917e8243cd #s-Label_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5aff211d-e948-4935-b801-a4917e8243cd #s-Line_5 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5aff211d-e948-4935-b801-a4917e8243cd #s-Line_6 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5aff211d-e948-4935-b801-a4917e8243cd #s-Flat-button-light {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5aff211d-e948-4935-b801-a4917e8243cd #s-Flat-button-light_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5aff211d-e948-4935-b801-a4917e8243cd #s-Flat-button-light_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.ui-page {
  overflow-x: hidden;
}
#s-5aff211d-e948-4935-b801-a4917e8243cd > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}