#s-fc4da03e-9636-4bed-8e85-ff50e4a43bbe #s-Label_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fc4da03e-9636-4bed-8e85-ff50e4a43bbe #s-Label_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fc4da03e-9636-4bed-8e85-ff50e4a43bbe #s-Label_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fc4da03e-9636-4bed-8e85-ff50e4a43bbe #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fc4da03e-9636-4bed-8e85-ff50e4a43bbe #s-Label_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fc4da03e-9636-4bed-8e85-ff50e4a43bbe #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fc4da03e-9636-4bed-8e85-ff50e4a43bbe #s-Flat-button-light {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.ui-page {
  overflow-x: hidden;
}
#s-fc4da03e-9636-4bed-8e85-ff50e4a43bbe > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}